.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


/* TRANSIZIONI */

/* primo esempio */

.ex-1-square {
    transition: 1s;
}
.ex-1-square:hover {
    background: red;
}

/* secondo esempio */

.ex-2-square {
    transition: 1s;
}

.ex-2-square:active {
    width: 100%;
}

/* terzo esempio */

.ex-3-square{
    transition: 1s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* quarto esempio */

.ex-4-square{
    transition: 3s;
}

.ex-4-square:hover{
    background-color:#F5F5F5;
}

/* quinto esempio */

.ex-5-square{
    transition: 1s;
}

.ex-5-square:hover{
    transform: scale(1.5) ; 
}

.ex-5-square:active{
    transform: scale(0.2);
}

/* sesto esempio */

.ex-6-img{
    transition: 0.5s;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/* settimo esempio */

.ex-7-img{
    transition: 2s;
}

.ex-7-img:hover{
    filter: grayscale(0.8) blur(1px);
}

/* ottavo esempio */

.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover{
    filter: brightness(2) contrast(2); 
    border-radius: 10px;
}

/* nono esempio */

.ex-9-img{
    transition: 1s;
}

.ex-9-img:hover{
    filter: grayscale(.8) drop-shadow(10px 10px 4px black);
    transform: scale(1.5);
    border-radius: 10px;
}

/* decimo esempio */

.ex-10-icon {
    animation: loading 2s linear infinite;
}

@keyframes loading{
    100%{
        transform: rotate(360deg);
    }
}

/* undicesimo esempio */

